name: update
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0" # runs weekly on Sunday at 00:00

permissions:
  contents: write
  pull-requests: write

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Determinate Nix
        uses: DeterminateSystems/determinate-nix-action@v3

      - name: Update flake.lock
        id: update
        uses: DeterminateSystems/update-flake-lock@main

      - name: Merge
        run: gh pr merge --auto "${{ steps.update.outputs.pull-request-number }}" --rebase
        if: ${{ steps.update.outputs.pull-request-number != '' }}
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
